# Python
__pycache__/
*.pyc
.venv/
.env

# Data
data/input/*.zip
data/input/**/*.json
data/input/**/*.csv
data/processed/*.csv

# Node
frontend/node_modules/
frontend/.next/

# OS
.DS_Store
Thumbs.db
